*{
   color: #8B4411;
   /* color: rgb(139, 68, 17); */
   color: #AE6E4E;
   /* color: rgb(174, 110, 78); */
   color: #CC9767;
   /* color: rgb(204, 151, 103); */
   color: #F5F5DD;
   /* color: rgb(245, 245, 221); */
   color: #C7AD7F;
   /* color: rgb(199, 173, 127); */
   color: #A57A5A;
   /* color: rgb(165, 122, 90); */
}